<%- include ('./partials/header') %>

<h1>Welcome to my personal recommendations!</h1>
<p>This will be dynamic updated soon</p>
<a1>this is my rec for right now: </a1>
<img src="http://res.cloudinary.com/netq-recipes/image/upload/v1536251687/eeeuygyxyaka3kcwqgfj.jpg"
        alt="T Shirt for the summer">

<%- include ('./partials/footer') %>