<%- include ('./partials/header') %>


<h1>Welcome to my weather recommendations!</h1>
<p>This weather right now is: <%=  message %> degrees </p>
<% if (message < 20){%>
    <a1> The following dress suits the weather: </a1>
    <img src="https://ssaw.io/showroom/376-large_default/no6-winter-eclipse-dress-in-royal.jpg"
             alt="T Shirt for the summer">
<% }%>


<%- include ('./partials/footer') %>